form#price-calculator-admin {
	
	ul.mount-options {
		
		@include tablet {
			columns: 2;
		}
		
		li {
			margin-bottom: 5px;
		}
	}
	
	ul.mount-sizes {
		
		@include tablet {
			columns: 2;
		}
	}
	.title.is-6 {
		margin-bottom: 8px;
	}
}